*.log
*.log.*
.DS_Store
*.js.map
.idea/
app/*.css
app/**/*.js
app/**/*.js.map
app/**/*.ngfactory.ts
app/**/*.ngsummary.json
app/**/*.js.map
app/**/*.js
hooks/
lib/
node_modules/
platforms/
report/
target/
typings/
