<ScrollView>
  <StackLayout class="holi-dialog holi-simple-dialog">
    <Label textWrap="true" class="holi-dialog-headline" [text]="title"></Label>
    <Label textWrap="true" class="holi-label holi-paragraph" [text]="text" *ngIf="text"></Label>
    <GridLayout *ngIf="!!cancelText" class="holi-paragraph" rows="auto" columns="*,10,*">
      <Button row="0" col="0" [text]="cancelText" (tap)="cancel()" class="holi-button"></Button>
      <Button row="0" col="2" [text]="confirmText" (tap)="confirm()" class="holi-button-confirm"></Button>
    </GridLayout>
    <GridLayout *ngIf="!cancelText" class="holi-paragraph" rows="auto" columns="20,*,20">
      <Button row="0" col="1" [text]="confirmText" (tap)="confirm()" class="holi-button-confirm"></Button>
    </GridLayout>
  </StackLayout>
</ScrollView>

